body {
    color:rgb(223, 223, 223);
    text-shadow: 1px 1px black;
    background-size: cover;
    background-color:white;
    background-image:url(042.png);
    background-repeat:no-repeat;
    }

#computerVue{
    top: 15%;
    position: absolute;
    left: 10%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 10px;
    padding: 50px;
    border-style: solid;
    border-width: 1px;
    transform: scale(0.8);
}


#playerVue{
    top: 15%;
    position: absolute;
    right: 10%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 10px;
    padding: 50px;
    border-style: solid;
    border-width: 1px;
    transform: scale(0.8);
    
}

#log{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    position: absolute;
    left: 15%;
    margin-top: -115px;
}

#logComputer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    position: absolute;
    right: 15%;
    margin-top: 45px;
}

.img1{
    position:absolute;
    top: 70%;
    transform: scale(1.4);

}

.img2{
    position: absolute;
    top: 70%;
    right: 20px;
    transform: scale(1.4);


}
#log{
   
    top: 25%;
}
#computerVue>input{
    background-color: #38d845;


}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

input{
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px

}
